@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --Font-family-Albert-Sans: 'Albert Sans', sans-serif;
}

@theme {
  --color-custom-mist: #f2f6f8;
  --color-deep-teal: #048995;
  --color-tropical-cyan: #06b6c6;
  --color-electric-blue: #5685fa;
  --color-glacial-blue: #6a93fb;
  --color-polar-mist: #f1f5ff;
  --color-dark-emerald: #03634b;
  --color-amount-critical: #f82254;
  --color-amount-low: #fe9b38;
  --color-amount-medium: #f2f47d;
  --color-amount-supplied: #06c696;
  --color-dark-blue: #042b95;
  --color-blue-ocean: #0679c6;
  --color-warning-crimson: #c60633;
  --color-sky-glimmer: #9cb7fc;
  --color-ice-glimmer: #f1f9fe;
  --color-pastel-blue: #cddbfe;
}

body {
  font-family: var(--Font-family-Albert-Sans, 'Albert Sans', sans-serif);
}
